.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: white;
}

.back-btn {
  align-self: flex-start;        /* left-aligned */
  margin-left: calc(50% - 175px);
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 20px;
}

.back-btn:hover {
  background-color: #8e5056;
  color: white;
}

.auth-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 2px solid rgb(175, 175, 225);
  border-radius: 12px;
  width: 350px;
  background-color: white;
  box-shadow:20px 20px 20px 20px rgba(0,0,0,0.1);
  max-height: 6000px;
}


.tab-row {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 2px solid rgb(209, 209, 235);
  border-radius: 20px;
  background-color: #cce2f8;
  border-bottom: 2px solid #ccc;
}
.welcome{
    font-size: 1.5rem;
    font-weight: 800;
    color: #7d93a9;
}
.tab {
  padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.3s;
  width: 100px;
  
}


.tab:hover {
  background-color: white;
  color: black;
  
}

.tab.active {
  background-color: white;
  color: black;
 
}

/* Form content */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-content input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.form-content input:focus {
  border-color: #007bff;
}

.auth-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background-color: #0056b3;
}
